!!!
%html
  %head
    %title My Gift Picks
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    =link_to '', 'http://fonts.googleapis.com/css?family=Mako'
    =link_to '', 'http://fonts.googleapis.com/css?family=Indie+Flower'
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => ".main-navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'My Gift Picks', root_path, class: 'navbar-brand'
        .collapse.navbar-collapse.main-navbar-collapse
          = form_tag root_path, method: 'get', class: "navbar-form navbar-left" do
            .form-group
              = text_field_tag :search, params[:search], class: "form-control", placeholder: "Find a user's list"
              = submit_tag "Search", name: nil, class: "btn btn-default"
          .navbar-collapse.navbar-right
            %ul.nav.navbar-nav= render 'devise/nav/nav'
    = yield
